footer.footer
    .container.footer__container
        .footer__flex
            .footer__sensor
                .sensor
                    img(src=`${baseDir}images/sensor.png`, alt="")
                    span.sensor__cursor.js-cursor
            .footer__data 
                h2.footer__h2 
                    | Мой уровень владения
                    br
                    | Java Script
                .footer__dataNumber 
                    span.js-cursor_number 223
