header.header
    .container.header__container
        .header__flex
            .header__logo
                .header__logo--radius
                    img(src=`${baseDir}images/photo.jpeg`, alt="")
            .header__form
                .header__formField
                    input(type="text" value="Тинарский Алексей Владимирович" placeholder="ИМЯ")
                .header__formField
                    input(type="text" value="17.05.1990" placeholder="ДАТА РОЖДЕНИЯ")
                .header__formField
                    input(type="text" value="Осинники" placeholder="ГОРОД")
                .header__formField
                    input(type="text" value="8-9223-606-83-90" placeholder="КОНТАКТНЫЕ ДАННЫЕ")


