-
	const data = {
		skills: [
			{
				name: 'Html5',
				active: true,
				number: 112
			},
			{
				name: 'SASS',
				active: true,
				number: 226
			},
			{
				name: 'VANILLAJS',
				active: true,
				number: 400
			},
			{
				name: 'GIT',
				active: true,
				number: 300
			},
			{
				name: 'css3',
				active: true,
				number: 220
			},
			{
				name: 'LESS',
				active: false,
				number: 200
			},
			{
				name: 'АNGULAR',
				active: false,
				number: 400
			},
			{
				name: 'FOUNDATION',
				active: false,
				number: 245
			},
			{
				name: 'БЭМ',
				active: true,
				number: 240
			},
			{
				name: 'GULP',
				active: true,
				number: 500
			},
			{
				name: 'JQUERY',
				active: true,
				number: 556
			},
			{
				name: 'BOOTSTRAP',
				active: true,
				number: 400
			}
		]
	};
	
script.
	window.data = !{JSON.stringify(data)};